@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-background: #212121;
  --secondary-background: #171717;
  --foreground: #ECECEC;
  --card-background: #424242;
}

::selection {
  background: var(--foreground);
  color: var(--primary-background);
}

::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--card-background);
  border-radius: 20px;
  height: 10px;
}